.AgentProfilePage  {
  display: grid; 
  gap: 15px 15px; 
  grid-template:  'PersonalData PersonalData StreetData StreetData' 400px 
                  'PersonalData PersonalData ProofData ProofData' 400px 
  ;

 .PersonalData {
    grid-area: PersonalData; 
    background-color: var(--white); 
    border-radius: 8px; 
    display: flex; 
    justify-content: start; 
    align-items: center; 
    flex-direction: column;  
    padding: 2rem;


    h2 {
      font-size: 2rem; 
      margin-bottom: 0.8rem;
    }

    button {
      background-color: transparent; 
      border: none; 
      outline: none; 
      color: #F04E23; 
      font-weight: 600; 
      cursor: pointer; 
      display: flex; 
      align-items: center; 
      height: 50px; 
      max-width: 250px; 
      width: 100%; 
      justify-content: center;  
      margin-bottom: 2rem;

      span {
         margin-left: 1rem;
      } 
    }
    

    .PersonalDataImg {
       height: 16em; 
       width: 16rem;   
       border: solid 10px #F6F6F6; 
       border-radius: 8px; 
       padding: 0.4rem; 


       img {
         height: 100%; 
         width: 100%; 
         border-radius: 8px;
       } 
       margin-bottom: 2rem;
   }
    
    .PersonalDataNameData {
      display: flex; 
      align-items: center; 
      justify-content: space-between;  
      width: 100%; 
      border-bottom: solid 2px #F2F2F2;  
      padding: 2rem;


      .PersonalDataBorder {
         border: solid 1px #F2F2F2; 
         height: 100%;
      }


      .PersonalDataNameDataItem {
         display: flex; 
         align-items: center; 
         flex-direction: column; 
         justify-content: center; 
         width: 50%; 
         padding: 2rem;

         h3 {
            font-size: 1.5rem;  
            margin-bottom: 0.8rem;
         } 

         span {
            color: #8B8B8B; 
            font-size: 1rem;
         }
      }
    }
   


    .PersonalDataPhoneEmail {
      display: flex; 
      align-items: center; 
      justify-content: space-between;  
      width: 100%; 
      padding: 2rem;


      .PersonalDataBorder {
         border: solid 1px #F2F2F2; 
         height: 100%;
      }


      .PersonalDataPhoneEmailItem {
         display: flex; 
         align-items: center; 
         flex-direction: column; 
         justify-content: center; 
         width: 50%; 
         padding: 2rem;

         h3 {
            font-size: 1.5rem;  
            margin-bottom: 0.8rem;
         } 

         span {
            color: #8B8B8B; 
            font-size: 1rem;
         }
      }
    }

    
 }  

 .StreetData {
    grid-area: StreetData; 
    background-color: var(--white); 
    border-radius: 8px; 
     display: flex; 
     flex-direction: column; 
     align-items: center;  
     justify-content: center; 
     padding: 2rem;



     .StreetDataZipState {
      display: flex; 
      align-items: center; 
      justify-content: space-between;  
      width: 100%; 

      border-bottom: solid 2px #F2F2F2;  
      padding: 2rem;


      .PersonalDataBorder {
         border: solid 1px #F2F2F2; 
         height: 100%;
      }


      .StreetDataZipStateItem {
         display: flex; 
         align-items: center; 
         flex-direction: column; 
         justify-content: center; 
         width: 50%; 
         padding: 2rem;

         h3 {
            font-size: 1.5rem;  
            margin-bottom: 0.8rem;
         } 

         span {
            color: #8B8B8B; 
            font-size: 1rem;
         }
      } 


      
    }  


    .StreetDataCityAddress {
      display: flex; 
      align-items: center; 
      justify-content: space-between;  
      width: 100%; 
      padding: 2rem;


      .PersonalDataBorder {
         border: solid 1px #F2F2F2; 
         height: 100%;
      }


      .StreetDataCityAddressItem {
         display: flex; 
         align-items: center; 
         flex-direction: column; 
         justify-content: center; 
         width: 50%; 
         padding: 2rem;

         h3 {
            font-size: 1.5rem;  
            margin-bottom: 0.8rem;
         } 

         span {
            color: #8B8B8B; 
            font-size: 1rem;
         }
      } 


      
    }
   
   
   } 

 .ProofData {
    grid-area: ProofData; 
    background-color: var(--white); 
    border-radius: 8px; 
    display: flex; 
    padding: 2rem;  
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-direction: column; 
    position: relative;

    div:nth-child(1){
      border-bottom: solid 2px #F2F2F2; 
      width: 100%;
    }

    .ProofDataItem {
      position: relative;
      width: 100%; 
      display: flex; 
      justify-content: center;
      flex-direction: column; 
      align-items: center; 
      height: 100%;

      h3 {
        font-size: 2rem;
      } 

      button {
         background-color: transparent; 
         border: none; 
         outline: none; 
         color: #F04E23; 
         cursor: pointer; 
         display: flex; 
         align-items: center; 
         height: 50px; 
         width: 100%; 
         justify-content: center;  
         font-size: 1rem;
   
         span {
            margin-right: 1rem;
         } 
       }
    }
   } 

   .buttonChat {
      height: 64px;
      width: 64px;
      background-color: #f04e23;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      background-image: url("../../assets/imgs/chatboxes.png");
      background-repeat: no-repeat;
      background-position: center; 
      position: absolute; 
      right: 35px; 
      bottom: 35px;
    }

}