* {
    padding: 0;
    margin: 0;
}

.page-login {
    background: var(--gray-300);
    height: 100vh;
    width: 100%;
    background-image: url("../../../../assets/imgs/bg-login.png");
    background-size: cover;
    background-position: inherit;
    padding: 30px;


    .page-login-navegation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .page-login-navegation-logo {
            h4 {
                color: var(--white);
                font-weight: 400;

                span {
                    font-weight: bold;
                }
            }
        }

        .page-login-navegation-list-menu {
            list-style: none;
            display: flex;

            li {
                margin: 0px 15px;
                color: var(--white);
                font-size: 1rem;
                font-weight: 500;
            }

        }
    }

    .page-login-registration-form {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-end;   
        padding-bottom: 50px;


        form {
            background-color: var(--white);
            max-width: 596px;
            width: 100%;
            height: 411px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            h2 {
                margin-bottom: 2rem;
            }

            .page-login-registration-form-input {

                input {
                    width: 500px;
                    background-color: var(--gray-100);
                    outline: none;
                    border: none;
                    height: 51px;
                    border-radius: 12px;
                    padding: 1rem;
                }

                input:nth-child(1) {
                    margin-bottom: 1.5rem;
                }
            }

            button {
                max-width: 500px;
                width: 100%;
                height: 51px;
                background-color: #F04E23;
                border-radius: 12px;
                border: none;
                outline: none;
                color: var(--white);
                font-weight: 600; 
                margin-bottom: 1.5rem;
            } 
             
            span {
                color: #F04E23; 
                font-weight: 500;
            }
            
        }
    }
}