.navbar {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 0.25rem;
}

.actions {
  display: flex;
  flex-direction: row;
}
