* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  //TODO: A estilização do collapsble não funcionar nos arquivos .module.scss por isso coloquei aqui
  .ant-collapse {
    border: none; 
    width: 100%; 
    background: transparent; 
    max-width: 1200px;
  }

  .ant-collapse-header {
    display: flex;
    justify-content: center !important;
    align-items: center !important; 
    padding: 25px 16px !important; 
  } 

  .ant-collapse-item {
    border-radius: 0px 0px 0px 0px !important;
  }


  :root {
    --white: #ffffff;

    --gray-100: #f2f2f2;
    --gray-200: #D2D2D2;
    --gray-300: #8B8B8B;
    --black-700: #2B2B2B;
   
    --orange-700: #F04E23;
    --greem-400: #2FD270;
  }
  
   @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }
  
  @media (max-width: 728px) {
    html {
      font-size: 87.5%;
    } 
  } 
  
  body {
    background: var(--gray-200);
    color: var(--black-700);
  }
  
  body, input, textarea, select, button {
    font: 400 1rem "Montserrat", sans-serif;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }