.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  background-color: var(--white);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  min-width: 18rem;
  border-radius: 0.25rem;
}

.content {
  padding: 1rem;
  flex: 1;
}
