.sidebar {
  position: fixed;
  background-color: var(--white);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
  min-width: 15.8rem;
  border-radius: 0.25rem;
  min-height: 10000%;
}
