.sidebar {
  position: fixed;
  background-color: var(--white);
  padding: 1rem;
  top: 7.2rem;
  left: 2.5rem;
  bottom: 1.5rem;
  width: 15.8rem;
  border-radius: 0.25rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-size: 0.85rem;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.profileContainer {
  background-color: var(--gray-100);
  height: 11rem;
  width: 11rem;
  border-radius: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profileContainerBg {
  background-color: var(--white);
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile {
  object-fit: contain;
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
}

.userData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.userName {
  color: var(--black-700);
}

.userId {
  color: var(--gray-200);
}

.userStatus {
  color: var(--greem-400);
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--gray-300);
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--orange-700);
  }
}

.activeItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--orange-700);
}
