.customLabel {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #FFFFFF;

    img {
        width: 2rem;
        height: 1.8rem;
        border-radius: 2rem;
    }
}