.diagram_component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 0.35rem;
    background-color: var(--gray-100);
  }