.containerProducts {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;

    @media (max-width: 1024px) and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
    }
}